h1,
h2,
h3 {
  font-family: "PT mono", monospace;
  color: rgb(0, 128, 128);
  font-size: 20px;
}
h2 {
  color: rgb(53, 53, 43);
}
h6 {
  margin-top: 0;
  margin-bottom: 20px;
}
h1 {
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 0px;
}
.button {
  background-color: rgb(190, 57, 57);
}
.container {
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/mountains-sky_SZ5GFMXWLW.jpg);
  margin: 20px auto;
  max-width: 600px;
  border-radius: 4px;
  padding: 20px;
}
.currentCity {
  max-width: 100%;
  margin: 2px auto;
  border-radius: 4px;
  padding: 20px;
  background-color: rgb(72, 232, 253);
}
.currentConditions {
  max-width: 100%;
  margin: 10px auto;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  background-color: rgb(72, 232, 253);
}
.nextForecast {
  margin: 10px auto;
  border-radius: 4px;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(72, 232, 253);
}
.temperature {
  font-size: 60px;
  font-family: "PT mono", monospace;
  padding-top: 0px;
}
.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  color: black;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-top: 10px;
  padding-top: 0px;
}
.unit {
  position: relative;
  top: -34px;
}
.conditions {
  list-style: none;
  font-size: 15px;
  margin-top: 20px;
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-temperatures {
  font-size: 12px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
